// Variables

// Main color
#$primary-color: #000;
$primary-color: #eaece5;

// Anchor color
$secondary-color: #00cdff;
#$secondary-color: #c0ded9;

// Font color
$font-color: #fff;
#$font-color: #3b3a30;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
